.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				%h1 Edit Opinion
			.panel-body
				%strong Current Image
				%br/
				= image_tag @opinion.image.url(:small)
				= render 'form'