= simple_form_for([@opinion, @opinion.comments.build]) do |f|
	
	.form-group
		= f.input :content, label: "Your hoojah", input_html: { class: 'form-control' }
		= f.button :submit, class: "btn btn-default"